<section class="py-100 hero-banner">
    <div class="container">
        <h1 class="text-center fw-semibold text-white mb-3">What is cement</h1>
        <p class="text-white text-center">Cement is hydraulic binder, i.e a finely ground inorganic material which, when mixed with water, forms a
            paste which set and hardens by means of hydration reactions and processes and which after hardening ,
            retains its strength and stability even under water.</p>
        <p class="text-white text-center mb-5">The United Cement Company is characterized by the production of high-quality cement products and the raw
            materials does not contain anything of all the impurities that have a direct impact on cement products
            including alkali, Chlorides, Sulphates, Potassium and Sodium in addition to the company quarry is located in
            part of Sarawat Mountains that are known of its high-quality raw materials. In addition, there is an
            automated monitors of production line which takes 100 samples a day to make sure that the products have high
            quality, the company assures it is high quality by sending products to local & international institutes to
            confirm it is high quality.</p>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <img src="/products/hero-image.png" class="img-fluid w-100" alt="">
            </div>
        </div>
    </div>
</section>

<section class="product_section opc_product">
    <div class="container">
        <div class="d-flex align-items-center flex-column mb-5">
            <div class="badge rounded-pill">
                <h2 class="mb-0 fw-bold">OPC</h2>
            </div>
            <h1 class="product-heading fw-semibold">Ordinary Portland Cement</h1>
            <p class="product-description">ORDINARY PORTLAND CEMENT (OPC) is a kind of Blended Cement which is produced
                by inter-grinding of OPC clinker along with gypsum and pozzolanic materials in certain proportions.</p>
        </div>
        <div class="uses">
            <div class="row justify-content-between">
                <div class="col-xl-3">
                    <div class="applicaton">
                        <h5 class="fw-bold">Application</h5>
                        <p class="text-gray mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting
                            industry. Lorem Ipsum has been the
                            industry's standard dummy text ever since the 1500s standard dummy text ever since the.</p>
                    </div>
                </div>
                <div class="col-xl-6 product-image">
                    <img src="/products/product_1_cement.png" class="img-fluid my-xl-0 my-4" alt="">
                </div>
                <div class="col-xl-3">
                    <div class="example">
                        <h5 class="fw-bold">Example of use:</h5>
                        <ul class="text-gray mb-0">
                            <li>Ready-mixed concrete</li>
                            <li>Bases and foundations</li>
                            <li>Concrete preparation in cold weather</li>
                            <li>Bridges and build towers</li>
                            <li>Concret Roads</li>
                            <li>protected</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="product_section ppc_product">
    <div class="container">
        <div class="d-flex align-items-center flex-column mb-5">
            <div class="badge rounded-pill">
                <h2 class="mb-0 fw-bold">PPC</h2>
            </div>
            <h1 class="product-heading fw-semibold">Portland Pozzolana Cement</h1>
            <p class="product-description">Portland Pozzolana Cement is a kind of Blended Cement which is produced by
                inter-grinding of OPC clinker along with gypsum and pozzolanic materials in certain proportions.</p>
        </div>
        <div class="uses">
            <div class="row justify-content-between">
                <div class="col-xl-3">
                    <div class="applicaton">
                        <h5 class="fw-bold">Application</h5>
                        <p class="text-gray mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting
                            industry. Lorem Ipsum has been the
                            industry's standard dummy text ever since the 1500s standard dummy text ever since the.</p>
                    </div>
                </div>
                <div class="col-xl-6 product-image">
                    <img src="/products/product_2_cement.png" class="img-fluid my-xl-0 my-4" alt="">
                </div>
                <div class="col-xl-3">
                    <div class="example">
                        <h5 class="fw-bold">Example of use:</h5>
                        <ul class="text-gray mb-0">
                            <li>Ready-mixed concrete</li>
                            <li>Bases and foundations</li>
                            <li>Concrete preparation in cold weather</li>
                            <li>Bridges and build towers</li>
                            <li>Concret Roads</li>
                            <li>protected</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="product_section src_product">
    <div class="container">
        <div class="d-flex align-items-center flex-column mb-5">
            <div class="badge rounded-pill">
                <h2 class="mb-0 fw-bold">SRC</h2>
            </div>
            <h1 class="product-heading fw-semibold">Sulphate Resistant Cement </h1>
            <p class="product-description">SULPHATE RESISTANT CEMENT (SRC) is a kind of Blended Cement which is produced
                by inter-grinding of OPC clinker along with gypsum and pozzolanic materials in certain proportions.</p>
        </div>
        <div class="uses">
            <div class="row justify-content-between">
                <div class="col-xl-3">
                    <div class="applicaton">
                        <h5 class="fw-bold">Application</h5>
                        <p class="text-gray mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting
                            industry. Lorem Ipsum has been the
                            industry's standard dummy text ever since the 1500s standard dummy text ever since the.</p>
                    </div>
                </div>
                <div class="col-xl-6 product-image">
                    <img src="/products/product_3_cement.png" class="img-fluid my-xl-0 my-4" alt="">
                </div>
                <div class="col-xl-3">
                    <div class="example">
                        <h5 class="fw-bold">Example of use:</h5>
                        <ul class="text-gray mb-0">
                            <li>Ready-mixed concrete</li>
                            <li>Bases and foundations</li>
                            <li>Concrete preparation in cold weather</li>
                            <li>Bridges and build towers</li>
                            <li>Concret Roads</li>
                            <li>protected</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="product_section tfc_product">
    <div class="container">
        <div class="d-flex align-items-center flex-column mb-5">
            <div class="badge rounded-pill">
                <h2 class="mb-0 fw-bold">TFC</h2>
            </div>
            <h1 class="product-heading fw-semibold">Tameer Finishing Cement</h1>
            <p class="product-description">TAMEER FINISHING CEMENT (TFC) is a kind of Blended Cement which is produced
                by inter-grinding of OPC clinker along with gypsum and pozzolanic materials in certain proportions.</p>
        </div>
        <div class="uses">
            <div class="row justify-content-between">
                <div class="col-xl-3">
                    <div class="applicaton">
                        <h5 class="fw-bold">Application</h5>
                        <p class="text-gray mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting
                            industry. Lorem Ipsum has been the
                            industry's standard dummy text ever since the 1500s standard dummy text ever since the.</p>
                    </div>
                </div>
                <div class="col-xl-6 product-image">
                    <img src="/products/product_4_cement.png" class="img-fluid my-xl-0 my-4" alt="">
                </div>
                <div class="col-xl-3">
                    <div class="example">
                        <h5 class="fw-bold">Example of use:</h5>
                        <ul class="text-gray mb-0">
                            <li>Ready-mixed concrete</li>
                            <li>Bases and foundations</li>
                            <li>Concrete preparation in cold weather</li>
                            <li>Bridges and build towers</li>
                            <li>Concret Roads</li>
                            <li>protected</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>