<app-shop-step-1 *ngIf="step == '1'" (childNextStep)="stepChanger($event)"></app-shop-step-1>
<app-shop-step-2 *ngIf="step == '2'" (childNextStep)="stepChanger($event)"></app-shop-step-2>
<app-shop-step-3 *ngIf="step == '3'" (childNextStep)="stepChanger($event)"></app-shop-step-3>
<app-shop-step-4 *ngIf="step == '4'" (childNextStep)="stepChanger($event)"></app-shop-step-4>
<app-shop-step-5 *ngIf="step == '5'" (childNextStep)="stepChanger($event)"></app-shop-step-5>
<app-shop-step-6 *ngIf="step == '6'" (childNextStep)="stepChanger($event)"></app-shop-step-6>
<app-shop-step-7 *ngIf="step == '7'" (childNextStep)="stepChanger($event)"></app-shop-step-7>