<header class="header py-2 w-100">
    <div class="container">
        <div class="header-top position-relative mb-2">

            <div class="position-absolute d-none d-lg-flex end-0 top-50 translate-middle-y gap-3 align-items-center">
                <a href="">
                    <img src="/twitter-icon.png" alt="">
                </a>
                <a href="">
                    <img src="/facebook-icon.png" alt="">
                </a>
                <a href="">
                    <img src="/instagram-icon.png" alt="">
                </a>
                <a href="">
                    <img src="/youtube-icon.png" alt="">
                </a>
                <a href="">
                    <img src="/google-icon.png" alt="">
                </a>
                <div class="vr opacity-100 text-white m-auto" style="height: 20px;"></div>
                <button class="btn btn-secondary rounded-pill fw-bold text-primary px-3"
                    (click)="translateText()">{{'headerButtons.lang' | translate}}</button>
            </div>
            <img class="center-logo m-auto position-absolute start-50 translate-middle top-50" src="/slogan.png" alt="">
            <img class="header-logo d-flex" src="/logo.svg" alt="">
        </div>
        <div class="header-bottom">
            <nav class="navbar navbar-dark navbar-expand-xl">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="d-flex d-lg-none gap-3 align-items-center">
                    <a href="">
                        <img src="/twitter-icon.png" alt="">
                    </a>
                    <a href="">
                        <img src="/facebook-icon.png" alt="">
                    </a>
                    <a href="">
                        <img src="/instagram-icon.png" alt="">
                    </a>
                    <a href="">
                        <img src="/youtube-icon.png" alt="">
                    </a>
                    <a href="">
                        <img src="/google-icon.png" alt="">
                    </a>
                    <div class="vr opacity-100 text-white m-auto" style="height: 20px;"></div>
                    <button class="btn btn-secondary rounded-pill fw-bold text-primary px-3"
                        (click)="translateText()">{{'headerButtons.lang' | translate}}</button>
                </div>
                <div class="collapse navbar-collapse mt-4 mt-lg-0" id="navbarSupportedContent">
                    <ul class="navbar-nav mb-2 mb-lg-0 w-100 justify-content-center px-0">
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/landing-page" routerLinkActive="active"
                                aria-current="page">{{'headerButtons.home' | translate}}</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false" [ngClass]="{'active': isDropdownLinkActive()}">
                                {{'headerButtons.about' | translate}}
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" routerLink="/about-us" routerLinkActive="active">About Us</a></li>
                                <li><a class="dropdown-item" routerLink="/management-team" routerLinkActive="active">Management Team</a></li>
                                <li><a class="dropdown-item" routerLink="/saudization-training" routerLinkActive="active">Saudization & Training</a></li>
                                <li><a class="dropdown-item" routerLink="/social-responsibilities" routerLinkActive="active">Social Responsibilities & Enviromental Protection</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                {{'headerButtons.clients' | translate}}
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item">Action</a></li>
                                <li><a class="dropdown-item">Another action</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item">Something else here</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/products" routerLinkActive="active">{{'headerButtons.products' | translate}}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/shopping" routerLinkActive="active">{{'headerButtons.shop'
                                | translate}}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/quality-assurance" routerLinkActive="active">{{'headerButtons.qualityAssurance' | translate}}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/vendors" routerLinkActive="active">{{'headerButtons.vendors' | translate}}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link">{{'headerButtons.news' | translate}}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link">{{'headerButtons.career' | translate}}</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>