<section class="shop-banner">
    <div class="blue-box text-center">SOCIAL RESPOSIBILITIES & ENVIRONMENTAL PROTECTION</div>
</section>

<section class="social-responsibilities py-100">
    <div class="container">
        <h2 class="text-center text-primary fw-semibold">Social Resposibilities</h2>
        <p class="text-center text-gray fs-5 mb-5">Seeking company strives to be a party contributor in all social
            initiatives that serve the region and the events, such as the continued support of education, cultural and
            social activities in the region in addition to the posts of local and international conferences.</p>
        <img src="/social-responsibilities/saudi-meeting.png" class="img-fluid"
            alt="close-up-people-working-office">
    </div>
</section>


<section class="environmental-protection">
    <div class="container text-center">
        <h2 class="text-white fw-bold">Environmental Protection</h2>
        <p class="text-white">The factory was established on latest cement industry technology as well as the pursuit of
            the United Cement industrial Company since the beginning of production to achieve the highest environmental
            standard for the environment. The company launched many environmental initiatives that contributes in
            creating clean environment, including:</p>
        <div class="row margin-top-negative">
            <div class="col-lg mb-3">
                <div class="enviromental-points">
                    <h4>1</h4>
                    <p>The Factory is designed to be heating tower with six stages, which reduce energy consumption and fossil fuel</p>
                </div>
            </div>
            <div class="col mb-3">
                <div class="enviromental-points">
                    <h4>2</h4>
                    <p>Production of Portland Pozzolana Cement</p>
                </div>
            </div>
            <div class="col mb-3">
                <div class="enviromental-points">
                    <h4>3</h4>
                    <p>Planting thousands of trees in the factory</p>
                </div>
            </div>
            <div class="col mb-3">
                <div class="enviromental-points">
                    <h4>4</h4>
                    <p>Using processed sewage water for plants and cooling</p>
                </div>
            </div>
            <div class="col mb-3">
                <div class="enviromental-points">
                    <h4>5</h4>
                    <p>Using the solar energy for lighting some factory roads</p>
                </div>
            </div>
        </div>
    </div>
</section>