@font-face {
    font-family: 'Noto Sans Arabic';
    src: url('../assets/fonts/Noto_Sans_Arabic/static/NotoSansArabic-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans Arabic';
    src: url('../assets/fonts/Noto_Sans_Arabic/static/NotoSansArabic-Light.ttf') format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: 'Noto Sans Arabic';
    src: url('../assets/fonts/Noto_Sans_Arabic/static/NotoSansArabic-Medium.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'Noto Sans Arabic';
    src: url('../assets/fonts/Noto_Sans_Arabic/static/NotoSansArabic-SemiBold.ttf') format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: 'Noto Sans Arabic';
    src: url('../assets/fonts/Noto_Sans_Arabic/static/NotoSansArabic-Bold.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'Metropolis';
    src: url('../assets/fonts/metropolis/Metropolis-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Metropolis';
    src: url('../assets/fonts/metropolis/Metropolis-Medium.otf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'Metropolis';
    src: url('../assets/fonts/metropolis/Metropolis-SemiBold.otf') format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: 'Metropolis';
    src: url('../assets/fonts/metropolis/Metropolis-Bold.otf') format('truetype');
    font-weight: 700;
}