@import "../../../styles/variables";

.shop-banner {
    background-image: url('/shope-banner.png');
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.saudization-card {
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 25px 11px 59px 0px rgba(0,0,0,0.09);
    height: 100%;
    background-color: white;

    .border-primary-left {
        padding: 30px 27px;
        border-left: $primary 6px solid;
        height: 100%;
    }
}

.section-bg {
    background-image: url('/bg-lines.png');
    background-repeat: no-repeat;
    background-position:center;
    background-size: contain;
}

.section-bg-2 {
    background-image: url('/saudization_training/bg-lines.png');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 100%;
    background-size: contain;
}


@media (min-width: 1400px) {
    .container {
        max-width: 1350px;
    }
}