<section class="shop-banner">
    <div class="blue-box text-center">SAUDIZATION AND TRAINING</div>
</section>

<section class="py-100 section-bg">
    <div class="container">
        <h2 class="text-center text-primary fw-semibold">Saudization</h2>
        <p class="text-center text-gray fs-5">Strategy of united cement based in employement on the serious investment
            in the
            national manpower and through a number of foundations and programs including</p>
        <div class="row mt-5">
            <div class="col-md-6 mb-4">
                <div class="saudization-card">
                    <div class="border-primary-left">
                        <h4 class="text-primary fw-semibold">Saudi Priority</h4>
                        <p class="text-gray fs-5">UCIC in its employment policies is committed to give a priority in the recruitment to talented Saudi citizens.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-4">
                <div class="saudization-card">
                    <div class="border-primary-left">
                        <h4 class="text-primary fw-semibold">Special Needs</h4>
                        <p class="text-gray fs-5">As a part of its social responsibility, UCIC is giving a number of special needs employment opportunities and try to prepare the appropriate environment for them from health and social prospectives, in order to enable them to actively participate in the company success. 
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-4">
                <div class="saudization-card">
                    <div class="border-primary-left">
                        <h4 class="text-primary fw-semibold">Partnership with technical institute to attract graduate
                        </h4>
                        <p class="text-gray fs-5"> UCIC is investing in long-term strategic relationship with a number of technical and vocational colleges in Makkah Region, and participating in annual career fairs to secure its needs of qualified cadres.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-4">
                <div class="saudization-card">
                    <div class="border-primary-left">
                        <h4 class="text-primary fw-semibold">Maintaining Highest Saudization Percentage</h4>
                        <p class="text-gray fs-5"> UCIC has maintained since its inception a high Saudization Percentage (not less than 65% of total company employees), UCIC aims to increase Saudization percentage to be aligned with its strategic direction into investment in the Saudi youth which enable the company since its inception to maintain a platinum range in the Nationalization. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="py-100 pt-0 section-bg-2">
    <div class="container">
        <h2 class="text-center text-primary fw-semibold">Training</h2>
        <p class="text-center text-gray fs-5 mb-5">UCIC believes that its success is largely dependent in the first place on how efficient and professional is its workforce, so it is consistently providing its employees with a package of internal and external training programs designed to upgrade their knowledge and skills in a way that helps them to live up to the highest standards of technical and administrative performance expected, UCIC training strategy in includes number of initiatives from: </p>
        <div class="row">
            <div class="col-md-6 align-content-center">
                <img src="/saudization_training/training_1.png" class="img-fluid" alt="">
            </div>
            <div class="col-md-6 align-content-center py-4">
                <h4>On site training</h4>
                <p class="mb-0">The company is providing an equipped training facility in its factory site in Tafel, which offers different courses in: computer, English, technical and administrative training in order to contribute in the development and the improvement of the workforce skills, the training will be extended to reach the people of the province and give them the opportunity to enhance their professional capabilities. </p>
            </div>
        </div>
        <div class="row flex-column-reverse flex-md-row">
            <div class="col-md-6 align-content-center py-4">
                <h4>External training programs</h4>
                <p class="mb-0">Where the company sends its staff to specialized training centers inside and outside the Kingdom, so as to increase their knowledge and improve their skills in various fields of technical training, such as (for Electricity Mechanics - Production - Safety - precision machining, etc.) so that it includes theoretical training and field. </p>
            </div>
            <div class="col-md-6 align-content-center">
                <img src="/saudization_training/training_2.png" class="img-fluid" alt="">
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 align-content-center">
                <img src="/saudization_training/training_3.png" class="img-fluid" alt="">
            </div>
            <div class="col-md-6 align-content-center py-4">
                <h4>The Orientation Program</h4>
                <p class="mb-0">This program is designed to enhance the work behavior desired in UCIC environment, the program includes the initial basic information about the job specification as well as UCIC in general polices such as: company vision and mission - internal regulations - Organizational structure - training programs - career programs -Compensation and benefits and others.</p>
            </div>
        </div>
        <div class="row flex-column-reverse flex-md-row">
            <div class="col-md-6 align-content-center py-4">
                <h4>Attendance of internal and external conferences</h4>
                <p class="mb-0">UCIC is sending number of its employees to attend local, regional and international conferences in the cement industry, in order to take advantage of opportunities to learn new and both regional and global best practices. As give the participants the opportunity to meet number of the industry experts locally and internationally.</p>
            </div>
            <div class="col-md-6 align-content-center">
                <img src="/saudization_training/training_4.png" class="img-fluid" alt="">
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 align-content-center">
                <img src="/saudization_training/training_5.png" class="img-fluid" alt="">
            </div>
            <div class="col-md-6 align-content-center py-4">
                <h4>Cement companies field visits</h4>
                <p class="mb-0">UCIC organizes number of periodic visits to cement factories in KSA, the program is designed to give the participant the opportunities to see the industry practice, during these visits, a number of workshops is to be held to document and discuss the most important insights.</p>
            </div>
        </div>
        <div class="row flex-column-reverse flex-md-row">
            <div class="col-md-6 align-content-center py-4">
                <h4>Internal training programs</h4>
                <p class="mb-0">UCIC with the help of its senior employees is designing number of internal programs as to be given to the junior colleagues and the fresh employees in the company. The aim of such programs are to promote the knowledge transfer to the newly appointed staff in the company, and the main focus of the training is to develop daily operational business skills such as: problem solving, and improving the analytical capabilities as well as other skills... </p>
            </div>
            <div class="col-md-6 align-content-center">
                <img src="/saudization_training/training_6.png" class="img-fluid" alt="">
            </div>
        </div>
    </div>
</section>