<section class="py-5">
    <div class="container">
        <h1 class="text-primary fw-semibold text-center">{{accountTitle}}</h1>
        <h5 class="text-center fw-medium mb-5">Need Some Information</h5>
        <div class="d-flex justify-content-center">
            <div class="login-container">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="login-tab" data-bs-toggle="tab"
                            data-bs-target="#login-tab-pane" type="button" role="tab" aria-controls="login-tab-pane"
                            aria-selected="true" (click)="setAccountTitle('login')">Login</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="register-tab" data-bs-toggle="tab"
                            data-bs-target="#register-tab-pane" type="button" role="tab"
                            aria-controls="register-tab-pane" aria-selected="false"
                            (click)="setAccountTitle('register')">Register</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="guest-tab" data-bs-toggle="tab" data-bs-target="#guest-tab-pane"
                            type="button" role="tab" aria-controls="guest-tab-pane" aria-selected="false"
                            (click)="setAccountTitle('guest')">Guest</button>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="login-tab-pane" role="tabpanel"
                        aria-labelledby="Description-tab" tabindex="0">
                        <form>
                            <div class="row">
                                <div class="col-12">
                                    <div class="mb-3">
                                        <label for="formGroupExampleInput" class="form-label">Email</label>
                                        <input type="text" class="form-control rounded-pill"
                                            placeholder="User@example.com">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="mb-3">
                                        <label for="formGroupExampleInput" class="form-label">Password</label>
                                        <input type="password" class="form-control rounded-pill"
                                            placeholder="Enter your Password">
                                    </div>
                                </div>
                            </div>
                            <p class="text-end">
                                <a href="" class="text-primary fs-small text-decoration-none">Forget Password?</a>
                            </p>
                            <button class="btn btn-primary py-2 w-100 rounded-pill">Login</button>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="register-tab-pane" role="tabpanel" aria-labelledby="Information-tab"
                        tabindex="0">
                        <form>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="formGroupExampleInput" class="form-label">First Name</label>
                                        <input type="text" class="form-control rounded-pill"
                                            placeholder="Enter Last Name">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="formGroupExampleInput" class="form-label">Last Name</label>
                                        <input type="text" class="form-control rounded-pill"
                                            placeholder="Enter First Name">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="mb-3">
                                        <label for="formGroupExampleInput" class="form-label">Email</label>
                                        <input type="text" class="form-control rounded-pill"
                                            placeholder="User@example.com">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="mb-3">
                                        <label for="formGroupExampleInput" class="form-label">Phone Number</label>
                                        <input type="number" class="form-control rounded-pill"
                                            placeholder="Enter Phone Number">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="mb-3">
                                        <label for="formGroupExampleInput" class="form-label">Password</label>
                                        <input type="password" class="form-control rounded-pill"
                                            placeholder="Enter Password">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="mb-4">
                                        <label for="formGroupExampleInput" class="form-label">Confirm Password</label>
                                        <input type="password" class="form-control rounded-pill"
                                            placeholder="Enter Password">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-check mb-4">
                                        <input class="form-check-input shadow-none" type="checkbox" value=""
                                            id="flexCheckDefault">
                                        <label class="form-check-label text-primary fs-small" for="flexCheckDefault">
                                              I have read and agree to the Terms & Conditions
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-primary py-2 w-100 rounded-pill">Continue</button>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="guest-tab-pane" role="tabpanel" aria-labelledby="Information-tab"
                        tabindex="0">
                        <form>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="formGroupExampleInput" class="form-label">First Name</label>
                                        <input type="text" class="form-control rounded-pill"
                                            placeholder="Enter Last Name">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="formGroupExampleInput" class="form-label">Last Name</label>
                                        <input type="text" class="form-control rounded-pill"
                                            placeholder="Enter First Name">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="mb-3">
                                        <label for="formGroupExampleInput" class="form-label">Email</label>
                                        <input type="text" class="form-control rounded-pill"
                                            placeholder="User@example.com">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="mb-4">
                                        <label for="formGroupExampleInput" class="form-label">Phone Number</label>
                                        <input type="number" class="form-control rounded-pill"
                                            placeholder="Enter Phone Number">
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-primary py-2 w-100 rounded-pill">Continue</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-end gap-2 mt-2">
            <button class="btn btn-outline-primary px-4 rounded-pill" (click)="back()">Back</button>
            <button class="btn btn-primary px-4 rounded-pill" (click)="next()">Next</button>
        </div>
    </div>
</section>