.card.card-grid {
    background-color: #eeeeee;
    border-radius: 18px;

    .card-img {
        padding: 50px 20px;
    }

    .card-body {
        background-color: white;
        border-radius: 20px;
        margin: 2px;
    }
}

.card.card-list {
    border-radius: 20px;
    background-color: #eeeeee;

    .card-image {
        padding: 20px 20px;
        text-align: center;

        img {
            max-height: 185px;
        }
    }

    .card-body {
        background-color: white;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        margin: 1px;
    }
}

.nav {
    .nav-item a:not(.active) {
        opacity: 0.3;
    }
}