<section class="py-5">
    <div class="container">
        <div class="row mb-5 gy-4">
            <div class="col-md-6">
                <div class="product-image">
                    <img class="img-fluid" src="/products/product-1.png" alt="">
                </div>
            </div>
            <div class="col-md-5">
                <h3 class="text-primary border-bottom pb-4 mb-4">Portland Pozzolana Cement (PPC)</h3>
                <div class="row mb-4">
                    <div class="col-md-4">
                        <h5 class="text-gray fw-medium">SKU:</h5>
                    </div>
                    <div class="col-md-8">
                        <h5>5603-J-E</h5>
                    </div>

                </div>
                <div class="row mb-4">
                    <div class="col-md-4">
                        <h5 class="text-gray fw-medium">Price:</h5>
                    </div>
                    <div class="col-md-8">
                        <h5>14.00</h5>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-md-4">
                        <h5 class="text-gray fw-medium">Quantity:</h5>
                    </div>
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-check">
                                    <input class="form-check-input shadow-none" type="checkbox" value=""
                                        id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        500 bags
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-check">
                                    <input class="form-check-input shadow-none" type="checkbox" value=""
                                        id="flexCheckDefault2">
                                    <label class="form-check-label" for="flexCheckDefault2">
                                        600 bags
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-4 align-items-center">
                    <div class="col-md-4">
                        <h5 class="text-gray fw-medium mb-0">Number of Trucks:</h5>
                    </div>
                    <div class="col-md-8">
                        <div class="counter">
                            <button class="btn btn-light border-0 border-end rounded-0">
                                <svg width="18" height="4" viewBox="0 0 18 4" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M18 4H0V0H18V4Z" />
                                </svg>

                            </button>
                            <span>
                                <h5 class="mb-0">1</h5>
                            </span>
                            <button class="btn btn-light border-0  border-start rounded-0">
                                <svg width="18" height="18" viewBox="0 0 18 18" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M18 10.8923H10.885V18H7.15195V10.8923H0V7.14462H7.15195V0H10.885V7.14462H18V10.8923Z"/>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-12">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="Description-tab" data-bs-toggle="tab"
                            data-bs-target="#Description-tab-pane" type="button" role="tab"
                            aria-controls="Description-tab-pane" aria-selected="true">Description</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="Information-tab" data-bs-toggle="tab"
                            data-bs-target="#Information-tab-pane" type="button" role="tab"
                            aria-controls="Information-tab-pane" aria-selected="false">Additional
                            Information</button>
                    </li>
                </ul>
                <div class="tab-content px-0" id="myTabContent">
                    <div class="tab-pane fade show active" id="Description-tab-pane" role="tabpanel"
                        aria-labelledby="Description-tab" tabindex="0">
                        The United Cement Industrial a Saudi Company was established in 2013 under the commercial number
                        (4030256672). United Cement industrial company owns the latest factory that was recently built
                        in
                        Saudi Arabia and in the Western Region and close to Makkah. The Production capacity is 2
                        millions
                        tones of cement per year that will meet the needs of our customers
                    </div>
                    <div class="tab-pane fade" id="Information-tab-pane" role="tabpanel"
                        aria-labelledby="Information-tab" tabindex="0">
                        <div class="row mb-4">
                            <div class="col-md-2">
                                <h6 class="text-gray fw-medium">Quantity:</h6>
                            </div>
                            <div class="col-md-10">
                                <h6>500 To 600 Bags</h6>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col-md-2">
                                <h6 class="text-gray fw-medium">Singular:</h6>
                            </div>
                            <div class="col-md-10">
                                <h6>-</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-12">
                <h4 class="text-primary fw-semibold mb-3">Related Products</h4>
                <div class="row">
                    <div class="col-lg-3 col-sm-6">
                        <div class="card card-grid border-0 mb-4">
                            <div class="card-img">
                                <img src="/products/product-1.png" class="card-img-top">
                            </div>
                            <div class="card-body rounded rounded-4">
                                <h5 class="fw-semibold">Sulphate Resistant Cement</h5>
                                <h5> (SRC) <span class="text-muted">SKU: 5602-J-E</span></h5>
                                <button class="btn btn-light border w-100 rounded-pill fw-semibold py-2 mt-3">ADD TO
                                    CART</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="card card-grid border-0 mb-4">
                            <div class="card-img">
                                <img src="/products/product-2.png" class="card-img-top">
                            </div>
                            <div class="card-body rounded rounded-4">
                                <h5 class="fw-semibold">Ordinary Portland Cement</h5>
                                <h5> (OPC) <span class="text-muted">SKU: 5601-J-E</span></h5>
                                <button class="btn btn-light border w-100 rounded-pill fw-semibold py-2 mt-3">ADD TO
                                    CART</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="card card-grid border-0 mb-4">
                            <div class="card-img">
                                <img src="/products/product-3.png" class="card-img-top">
                            </div>
                            <div class="card-body rounded rounded-4">
                                <h5 class="fw-semibold">Sulphate Resistant Cement</h5>
                                <h5> (SRC) <span class="text-muted">SKU: 5602-J-E</span></h5>
                                <button class="btn btn-light border w-100 rounded-pill fw-semibold py-2 mt-3">ADD TO
                                    CART</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-end gap-2">
            <button class="btn btn-outline-primary px-4 rounded-pill" (click)="back()">Back</button>
            <button class="btn btn-primary px-4 rounded-pill" (click)="next()">Next</button>
        </div>
    </div>
</section>