<section class="shop-banner">
    <div class="blue-box text-center">QUALITY ASSURANCE</div>
</section>

<section class="py-100">
    <div class="container">
        <h2 class="text-center text-primary fw-semibold">Our Certifications</h2>
        <p class="text-center text-gray fs-5">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500sLorem Ipsum is simply dummy text
            of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since
            the 1500s</p>
        <div class="row">
            <div class="col-md-3 col-6 text-center mb-4">
                <img src="/quality-assurance/certification_logo_1.png" class="img-fluid shadow" alt="">
            </div>
            <div class="col-md-3 col-6 text-center mb-4">
                <img src="/quality-assurance/certification_logo_2.png" class="img-fluid shadow" alt="">
            </div>
            <div class="col-md-3 col-6 text-center mb-4">
                <img src="/quality-assurance/certification_logo_3.png" class="img-fluid shadow" alt="">
            </div>
            <div class="col-md-3 col-6 text-center mb-4">
                <img src="/quality-assurance/certification_logo_4.png" class="img-fluid shadow" alt="">
            </div>
        </div>
    </div>
</section>

<section class="py-100 pt-0 section-bg-2">
    <div class="container">
        <h2 class="text-center text-primary fw-semibold">Our Acheivements</h2>
        <p class="text-center text-gray fs-5">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500sLorem Ipsum is simply dummy text
            of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since
            the 1500s</p>
        <div class="row mt-5 gx-lg-5">
            <div class="col-md-4 col-sm-6 mb-4">
                <div class="card">
                    <div class="card-header">
                        <h5 class="fw-semibold">Certficate 1 lorem ipsum doler
                            18001-2007</h5>
                    </div>
                    <div class="card-body">
                        <img src="/quality-assurance/Cambridge_CELTA_certificate.png" class="img-fluid w-100" alt="">
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 mb-4">
                <div class="card">
                    <div class="card-header">
                        <h5 class="fw-semibold">Certficate 1 lorem ipsum doler
                            18001-2007</h5>
                    </div>
                    <div class="card-body">
                        <img src="/quality-assurance/Cambridge_CELTA_certificate.png" class="img-fluid w-100" alt="">
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 mb-4">
                <div class="card">
                    <div class="card-header">
                        <h5 class="fw-semibold">Certficate 1 lorem ipsum doler
                            18001-2007</h5>
                    </div>
                    <div class="card-body">
                        <img src="/quality-assurance/Cambridge_CELTA_certificate.png" class="img-fluid w-100" alt="">
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>