<section class="shop-banner">
    <div class="blue-box text-center">ABOUT US</div>
</section>

<section class="linear-purple-section">
    <div class="container h-100">
        <div class="border overlay-text bg-white">
            The United Cement Industrial a Saudi Company was established in 2013 under the commercial number
            (4030256672). United Cement industrial company owns the latest factory that was recently built in
            Saudi Arabia and in the Western Region and close to Makkah. The Production capacity is 2 million
            tonnes of cement annually that will meet the needs of our customers.
        </div>
        <div class="row">
            <div class="col-12">
                <div class="pe-xxl-5">
                    <div class="row justify-content-xxl-end justify-content-center">
                        <div class="col-lg-6">
                            <div class="row justify-content-center">
                                <div class="col-xxl-9">
                                    <h1 class="my-3 text-xxl-start text-center text-primary">MESSAGE FROM THE <span class="fw-bold">CEO</span></h1>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="bg-light-pink py-4 px-5 ps-xxl-0">
                    <div class="row">
                        <div class="col-lg-6 position-relative">
                            <div class="ceo-image">
                                <img src="/about-us/ceo.png" class="img-fluid" alt="">
                                <div class="ceo-badge bg-primary text-white rounded-pill px-3 py-2">
                                    <p class=" mb-0">Mohammad Almatrafi</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="row justify-content-center">
                                <div class="col-xxl-9">
                                    <p class="mb-0">
                                        The United Cement Industrial Company (UCIC) is honored to have the support of
                                        the Government of the
                                        Custodian of the Two Holy Mosques, having secured a concession building permit
                                        in Al Lith city to
                                        manufacture various types of cement that meet global standards through efficient
                                        fuel customization.
                                        Committed to our national duty, UCIC prioritizes Saudi citizens in all aspects
                                        of our operations,
                                        with nearly 100% of leadership positions held by qualified Saudi staff. Since
                                        our establishment in
                                        2013, we have achieved platinum status and emphasize the importance of
                                        continuous training at local
                                        and global specialized centers. Aligned with Vision 2030, we focus on efficiency
                                        and competitiveness
                                        in our technical and administrative operations, striving to be a vital
                                        contributor to the Kingdom's
                                        development and prosperity.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-core-value">
    <div class="container">
        <div class="d-flex flex-lg-row flex-column cards-container">
            <div class="card border-0">
                <div class="card-body ps-lg-5 pt-lg-5 pe-lg-4 pb-lg-4 p-4">
                    <h2 class="card-title">Vision</h2>
                    <p class="card-text">Aiming to be the most efficient and effective cement producer in Saudi Arabia,
                        we focus on optimizing operations and adopting innovative practices to enhance quality.</p>
                </div>
                <img src="/about-us/card-img-bottom.png" class="card-img-bottom rounded-0" alt="...">
            </div>
            <div class="card border-0 flex-lg-column flex-column-reverse">
                <img src="/about-us/card-img-top.png" class="card-img-top rounded-0" alt="...">
                <div class="card-body ps-lg-4 pt-lg-4 pe-lg-5 pb-lg-5 p-4">
                    <h2 class="card-title">Mission</h2>
                    <p class="card-text">Creating additional values in Saudi Cement Industry through innovative and
                        sustainable using of the natural resources in order to serve our society and our Customers</p>
                </div>
            </div>
        </div>
        <div>
            <h2 class="text-center mb-4 fw-semibold">CORE VALUE</h2>
            <p class="text-center text-custom-gray mb-5">
                The United Cement Industrial a Saudi Company was established in 2013 under the commercial number
                (4030256672). United Cement industrial company owns the latest factory that was recently built in Saudi
                Arabia and in the Western Region and close to Makkah. The Production capacity is 2 million tonnes of
                cement annually that will meet the needs of our customers.
            </p>
            <div class="row flex-lg-row flex-column text-center points-border">
                <div class="col">
                    <div class="p-2">
                        <h4 class="mb-3 fw-semibold">Ownership</h4>
                        <p class="text-gray mb-0">All of us in the United Cement Company are dealing with a sense of
                            "owners", and we are treated accordingly. </p>
                    </div>
                </div>
                <div class="col">
                    <div class="p-2">
                        <h4 class="mb-3 fw-semibold">Integrity</h4>
                        <p class="text-gray mb-0">Conserving confidentiality and professionalism, in addition to
                            treating others
                            in respect, honesty and equity</p>
                    </div>
                </div>
                <div class="col">
                    <div class="p-2">
                        <h4 class="mb-3 fw-semibold">Accountability</h4>
                        <p class="text-gray mb-0">We bear the responsibility for the results of our work while
                            maintaining
                            high-level performance.</p>
                    </div>
                </div>
                <div class="col">
                    <div class="p-2">
                        <h4 class="mb-3 fw-semibold">Teamwork spirit</h4>
                        <p class="text-gray mb-0">Honest communication and a constructive spirit support the exchange of
                            thoughts
                            and resources.</p>
                    </div>
                </div>
                <div class="col">
                    <div class="p-2">
                        <h4 class="mb-3 fw-semibold">Innovation</h4>
                        <p class="text-gray mb-0">Encouraging and embracing the real change, seeking distinguish and
                            improvement
                            knowledge and skills.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>