<section class="py-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <h1 class="text-primary fw-semibold mb-5 text-center">Choose Delivery Location Within Our Coverage Area
                </h1>
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-sm-6">
                        <div class="card p-4 align-items-center mb-4">
                            <img src="/icons/location-icon.png" class="mb-3" width="46" alt="">
                            <h4 class="fw-semibold">Location 1</h4>
                            <p class="mb-4">Lorem Ipsum is simply dummy</p>
                            <button class="btn btn-light border w-100 rounded-pill fw-semibold py-2">SELECT</button>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="card p-4 align-items-center mb-4">
                            <img src="/icons/location-icon.png" class="mb-3" width="46" alt="">
                            <h4 class="fw-semibold">Location 2</h4>
                            <p class="mb-4">Lorem Ipsum is simply dummy</p>
                            <button class="btn btn-light border w-100 rounded-pill fw-semibold py-2">SELECT</button>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="card p-4 align-items-center mb-4">
                            <img src="/icons/location-icon.png" class="mb-3" width="46" alt="">
                            <h4 class="fw-semibold">Location 3</h4>
                            <p class="mb-4">Lorem Ipsum is simply dummy</p>
                            <button class="btn btn-light border w-100 rounded-pill fw-semibold py-2">SELECT</button>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-end">
                    <button class="btn btn-primary px-4 rounded-pill" (click)="next()">Next</button>
                </div>
            </div>
        </div>

    </div>
</section>