<footer class="py-5 bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="row gy-3">
                    <div class="col-sm-6">
                        <h5 class="text-white mb-3">{{'footer.quickLinks.heading' | translate}}</h5>
                        <div class="row">
                            <div class="col-6">
                                <ul>
                                    <li class="arrow-right"><a class="text-white" href="">{{'footer.quickLinks.home' | translate}}</a></li>
                                    <li class="arrow-right"><a class="text-white" href="">{{'footer.quickLinks.shop' | translate}}</a></li>
                                    <li class="arrow-right"><a class="text-white" href="">{{'footer.quickLinks.clients' | translate}}</a></li>
                                    <li class="arrow-right"><a class="text-white" href="">{{'footer.quickLinks.products' | translate}}</a></li>
                                    <li class="arrow-right"><a class="text-white" href="">{{'footer.quickLinks.qualityAssurance' | translate}}</a></li>
                                </ul>
                            </div>
                            <div class="col-6">
                                <ul>
                                    <li class="arrow-right"><a class="text-white" href="">{{'footer.quickLinks.vendors' | translate}}</a></li>
                                    <li class="arrow-right"><a class="text-white" href="">{{'footer.quickLinks.news' | translate}}</a></li>
                                    <li class="arrow-right"><a class="text-white" href="">{{'footer.quickLinks.career' | translate}}</a></li>
                                    <li class="arrow-right"><a class="text-white" href="">{{'footer.quickLinks.contactUs' | translate}}</a></li>
                                    <li class="arrow-right"><a class="text-white" href="">{{'footer.quickLinks.offers' | translate}}</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <h5 class="text-white mb-3">CONTACT US</h5>
                        <ul>
                            <li class="phone d-flex align-items-center gap-2"><a class="text-white" href="">+966 12
                                    676 8999</a></li>
                            <li class="phone d-flex align-items-center gap-2"><a class="text-white" href="">+966 12
                                    6702444</a></li>
                            <li class="phone d-flex align-items-center gap-2"><a class="text-white" href="">+966
                                    920026267</a></li>
                            <li class="phone d-flex align-items-center gap-2"><a class="text-white" href="">Contact
                                    Us</a></li>
                            <li class="mail d-flex align-items-center gap-2">
                                <a class="text-white" href="mailto:info@unitedcement.com.sa">
                                    {{ 'info@unitedcement.com.sa' }}
                                </a>
                            </li>
                        </ul>

                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="align-items-center d-flex gap-2 mt-5 flex-wrap">
                            <div class="bg-primary d-flex justify-content-center gap-4 py-3 px-5 rounded py-4">
                                <a href="">
                                    <img src="/twitter-icon.png" alt="">
                                </a>
                                <a href="">
                                    <img src="/facebook-icon.png" alt="">
                                </a>
                                <a href="">
                                    <img src="/instagram-icon.png" alt="">
                                </a>
                                <a href="">
                                    <img src="/youtube-icon.png" alt="">
                                </a>
                                <a href="">
                                    <img src="/google-icon.png" alt="">
                                </a>
                            </div>
                            <img src="/certified-logo.png" class="img-fluid">
                            <p class="text-white mb-0 ms-4">&copy; Copyright 2016 United Cement Industrial Company</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <h5 class="text-white mb-3">{{'footer.ourPorfolio' | translate}}</h5>
                <img src="/portfolio-collage.png" class="img-fluid">

            </div>
        </div>
    </div>
</footer>