<section class="shop-banner">
    <div class="blue-box text-center">MANAGEMENT TEAM</div>
</section>

<section class="management-team">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-md-6 mb-5">
                <div class="card mx-4 rounded-3 overflow-hidden">
                    <img src="/management-team/management-person.png" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                      <h4 class="card-title fw-semibold"><span class="fw-light">MR.</span> FAHED ABDULLAH ALHARBI</h4>
                      <p class="card-text fs-small">CHAIRMAN OF THE BOARD OF DIRECTORS</p>
                      <hr>
                      <p class="card-text">drewcano&#64;gmail.com</p>
                      <div>
                        <a class="me-2"><img src="/icons/facebook.png" alt=""></a>
                        <a class="me-2"><img src="/icons/instagram.png" alt=""></a>
                        <a><img src="/icons/twitter.png" alt=""></a>
                      </div>
                    </div>
                  </div>
            </div>
            <div class="col-xl-4 col-md-6 mb-5">
                <div class="card mx-4 rounded-3 overflow-hidden">
                    <img src="/management-team/management-person.png" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                      <h4 class="card-title fw-semibold"><span class="fw-light">MR.</span> ABDULKARIM IBRAHIM ALNAFEA</h4>
                      <p class="card-text fs-small">MEMBER OF THE BOARD OF DIRECTORS </p>
                      <hr>
                      <p class="card-text">drewcano&#64;gmail.com</p>
                      <div>
                        <a class="me-2"><img src="/icons/facebook.png" alt=""></a>
                        <a class="me-2"><img src="/icons/instagram.png" alt=""></a>
                        <a><img src="/icons/twitter.png" alt=""></a>
                      </div>
                    </div>
                  </div>
            </div>
            <div class="col-xl-4 col-md-6 mb-5">
                <div class="card mx-4 rounded-3 overflow-hidden">
                    <img src="/management-team/management-person.png" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                      <h4 class="card-title fw-semibold"><span class="fw-light">MR.</span> ABDULRAHMAN HAMEED ALAWFI</h4>
                      <p class="card-text fs-small">MEMBER OF THE BOARD OF DIRECTORS </p>
                      <hr>
                      <p class="card-text">drewcano&#64;gmail.com</p>
                      <div>
                        <a class="me-2"><img src="/icons/facebook.png" alt=""></a>
                        <a class="me-2"><img src="/icons/instagram.png" alt=""></a>
                        <a><img src="/icons/twitter.png" alt=""></a>
                      </div>
                    </div>
                  </div>
            </div>
            <div class="col-xl-4 col-md-6 mb-5">
                <div class="card mx-4 rounded-3 overflow-hidden">
                    <img src="/management-team/management-person.png" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                      <h4 class="card-title fw-semibold"><span class="fw-light">MR.</span> SULAIMAN BIN DARI RASHID</h4>
                      <p class="card-text fs-small">MEMBER OF THE BOARD OF DIRECTORS </p>
                      <hr>
                      <p class="card-text">drewcano&#64;gmail.com</p>
                      <div>
                        <a class="me-2"><img src="/icons/facebook.png" alt=""></a>
                        <a class="me-2"><img src="/icons/instagram.png" alt=""></a>
                        <a><img src="/icons/twitter.png" alt=""></a>
                      </div>
                    </div>
                  </div>
            </div>
            <div class="col-xl-4 col-md-6 mb-5">
                <div class="card mx-4 rounded-3 overflow-hidden">
                    <img src="/management-team/management-person.png" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                      <h4 class="card-title fw-semibold"><span class="fw-light">MR.</span> NASER ABDULLAH ALAWFI</h4>
                      <p class="card-text fs-small">MEMBER OF THE BOARD OF DIRECTORS </p>
                      <hr>
                      <p class="card-text">drewcano&#64;gmail.com</p>
                      <div>
                        <a class="me-2"><img src="/icons/facebook.png" alt=""></a>
                        <a class="me-2"><img src="/icons/instagram.png" alt=""></a>
                        <a><img src="/icons/twitter.png" alt=""></a>
                      </div>
                    </div>
                  </div>
            </div>
            <div class="col-xl-4 col-md-6 mb-5">
                <div class="card mx-4 rounded-3 overflow-hidden">
                    <img src="/management-team/management-person.png" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                      <h4 class="card-title fw-semibold"><span class="fw-light">MR.</span> YAZED MOHAMMED ALTWYJRI</h4>
                      <p class="card-text fs-small">MEMBER OF THE BOARD OF DIRECTORS </p>
                      <hr>
                      <p class="card-text">drewcano&#64;gmail.com</p>
                      <div>
                        <a class="me-2"><img src="/icons/facebook.png" alt=""></a>
                        <a class="me-2"><img src="/icons/instagram.png" alt=""></a>
                        <a><img src="/icons/twitter.png" alt=""></a>
                      </div>
                    </div>
                  </div>
            </div>
            <div class="col-xl-4 col-md-6 mb-5">
                <div class="card mx-4 rounded-3 overflow-hidden">
                    <img src="/management-team/management-person.png" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                      <h4 class="card-title fw-semibold"><span class="fw-light">MR.</span> FAYEZ ABDULLAH ALHARBI</h4>
                      <p class="card-text fs-small">MEMBER OF THE BOARD OF DIRECTORS </p>
                      <hr>
                      <p class="card-text">drewcano&#64;gmail.com</p>
                      <div>
                        <a class="me-2"><img src="/icons/facebook.png" alt=""></a>
                        <a class="me-2"><img src="/icons/instagram.png" alt=""></a>
                        <a><img src="/icons/twitter.png" alt=""></a>
                      </div>
                    </div>
                  </div>
            </div>
            <div class="col-xl-4 col-md-6 mb-5">
                <div class="card mx-4 rounded-3 overflow-hidden">
                    <img src="/management-team/management-person.png" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                      <h4 class="card-title fw-semibold"><span class="fw-light">MR.</span> MOHAMMAD ALMATRAFI</h4>
                      <p class="card-text fs-small">CEO</p>
                      <hr>
                      <p class="card-text">drewcano&#64;gmail.com</p>
                      <div>
                        <a class="me-2"><img src="/icons/facebook.png" alt=""></a>
                        <a class="me-2"><img src="/icons/instagram.png" alt=""></a>
                        <a><img src="/icons/twitter.png" alt=""></a>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</section>